@use "../../styles/variables" as *;

#nav-bar {
    display: flex;
    flex-direction: column;
    font-size: $font-lg;

    .action-menu,
    .action-item,
    .nav-menu {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .action-menu {
        .action-icon {
            width: 30px;
            height: 30px;
        }
    }
}