@use "../../styles/variables" as *;

#nav-bar {
  display: flex;
  flex-direction: column;
  gap:16px;
  padding:20px;

  .action-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .actions-wrapper{
        display: flex;
        gap:16px;
        .action-item {
        display:flex;
        align-items: center;
        gap:10px;
      .action-icon {
        width: 30px;
        height: 30px;
      }
    }

    }

    
  }

  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    .nav-item
     {
      text-decoration: none;
      color: inherit;
      list-style: none;
      font-size: $font-sm;
    }
    .nav-link{
        text-decoration: none;
        color: inherit;
    }
  }
}
